/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section, .hero-phrase, .hero-button, .advantages-background, .join-check input {
  margin-left: auto;
  margin-right: auto;
}

.header-link, .page-active, .nav-item:hover, .nav-item:focus, .nav-item, .header-address, .header-mobile-link, .header-mobile-address, .header-mobile-social {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.page-active::after, .nav-item:hover::after, .nav-item:focus::after {
  position: absolute;
  bottom: -30px;
  left: 0px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

/* raleway-500 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/raleway-v18-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v18-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v18-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/raleway-v18-latin_cyrillic-500.woff") format("woff"), url("../fonts/raleway-v18-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/raleway-v18-latin_cyrillic-500.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

body {
  position: relative;
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

button {
  font-style: normal;
  font-family: inherit;
  cursor: pointer;
}

.button-active {
  border: 0px;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.head-phrase {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.logo-web {
  color: #2196f3;
}

.studio-header {
  color: #000000;
}

.studio-footer {
  color: #ffffff;
}

.logo-web,
.studio-header,
.studio-footer {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

header {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  header .conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 26px;
    padding-bottom: 21px;
  }
}

@media screen and (max-width: 767px) {
  header .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header .header-nav .header-logo {
  margin-right: 88px;
}

.header-link {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-link li:not(:last-child) {
  margin-right: 50px;
}

.page-active, .nav-item:hover, .nav-item:focus {
  position: relative;
  color: #2196f3;
  fill: #2196f3;
}

.page-active::after, .nav-item:hover::after, .nav-item:focus::after {
  content: "";
}

.nav-item {
  color: #212121;
}

.nav-item:hover, .nav-item:focus {
  color: #2196f3;
  fill: #2196f3;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:hover::after, .nav-item:focus::after {
  content: "";
}

.header-contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1199px) {
  .header-contacts li:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header-contacts li:not(:last-child) {
    margin-right: 30px;
  }
}

.header-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
}

.header-address:hover, .header-address:focus {
  color: #2196f3;
  fill: #2196f3;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address .header-icon {
  margin-right: 8px;
}

@media screen and (min-width: 1200px) {
  .header-address .header-icon {
    margin-right: 10px;
  }
}

.header-button-open, .header-button-close {
  color: #000;
  background-color: #ffffff;
  border: none;
  outline: none;
}

.header-button-open:hover, .header-button-close:hover, .header-button-open:focus, .header-button-close:focus {
  color: #2196f3;
}

.header-button-open .header-menu-icon, .header-button-close .header-menu-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .header-button-open, .header-button-close {
    display: none;
  }
}

.header-menu-mobile {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 48px 40px;
  background-color: #ffffff;
}

.header-button-close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.header-mobile-link {
  margin-bottom: 302px;
  font-size: 40px;
  line-height: 47px;
}

.header-mobile-link li:not(:last-child) {
  margin-bottom: 32px;
}

.page-active, .nav-item:hover, .nav-item:focus {
  color: #2196f3;
}

.nav-item {
  color: #212121;
}

.header-mobile-address {
  margin-bottom: 64px;
}

.header-mobile-tell {
  margin-bottom: 32px;
  font-size: 34px;
  line-height: 40px;
  color: #2196f3;
}

.header-mobile-mail {
  font-size: 24px;
  line-height: 28px;
  color: #757575;
}

.header-mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  line-height: 22px;
  color: #2196f3;
}

.header-mobile-social li:not(:first-child) {
  padding-left: 10px;
}

.header-mobile-social li:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.hero-section {
  padding: 118px 0;
  max-width: 480px;
  height: 100%;
  color: #ffffff;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/background-hero/Header-mob-imgx1.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/background-hero/Header-mob-imgx1.jpg");
  background-size: 480px 400px;
}

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    background-size: 768px 400px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/background-hero/Header-tab-imgx1.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/background-hero/Header-tab-imgx1.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    max-width: 1600px;
    background-size: 1600px 600px;
    background-color: #c4c4c4;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/background-hero/Header-desk-imgx1.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/background-hero/Header-desk-imgx1.jpg");
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/background-hero/Header-mob-imgx2.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/background-hero/Header-mob-imgx2.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/background-hero/Header-tab-imgx2.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/background-hero/Header-tab-imgx2.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/background-hero/Header-desk-imgx2.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/background-hero/Header-desk-imgx2.jpg");
  }
}

.hero-phrase {
  margin-bottom: 30px;
  max-width: 360px;
  font-weight: 900;
  font-size: 24px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .hero-phrase {
    font-size: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-phrase {
    max-width: 696px;
    font-size: 44px;
    line-height: 60px;
  }
}

.hero-button {
  display: block;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages .conteiner {
    margin-left: auto;
    margin-right: auto;
    max-width: 738px;
  }
}

.advantages-list li:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantages-list li {
    max-width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
  .advantages-list li:nth-child(2n) {
    margin-right: 0px;
  }
  .advantages-list li:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 94px;
  }
  .advantages-list li:not(:last-child) {
    margin-right: 30px;
  }
}

.advantages-background {
  background-color: #f5f4fa;
  height: 120px;
  border-radius: 4px;
  padding-top: 25px;
  margin-bottom: 30px;
}

.advantages-icon {
  display: block;
  width: 70px;
  height: 70px;
  text-align: center;
  margin: auto;
}

.little-phrase {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .little-phrase {
    text-align: center;
  }
}

.advantages-text {
  line-height: 24px;
  color: #757575;
}

.work {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.we-are-working h2 {
  margin-bottom: 50px;
}

.we-are-working ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.we-are-working .working-conteiner {
  position: relative;
}

.we-are-working img {
  display: block;
}

.we-are-working li:not(:last-child) {
  margin-right: 30px;
}

.working-content {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.working-content .pfrase {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.clients-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-section .conteiner {
    max-width: 738px;
    margin-left: auto;
    margin-right: auto;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .clients-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.clients-list-item {
  margin-right: 30px;
  margin-bottom: 30px;
  -ms-flex-preferred-size: calc(100% / 2 - 30px);
      flex-basis: calc(100% / 2 - 30px);
}

@media screen and (max-width: 767px) {
  .clients-list-item:nth-child(2n) {
    margin-right: 0px;
  }
  .clients-list-item:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list-item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
  .clients-list-item:nth-child(3n) {
    margin-right: 0px;
  }
  .clients-list-item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.client-cards {
  display: block;
  width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-cards:hover, .client-cards:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .client-cards {
    width: 226px;
  }
}

@media screen and (min-width: 1199px) {
  .client-cards {
    width: 170px;
  }
}

.client-icon {
  display: block;
  margin: auto;
  margin-top: 20px;
  fill: currentColor;
}

.footer-section {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-box {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer-contacts-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts-box {
    margin-bottom: 0;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .footer-logo {
    text-align: center;
  }
}

.address-list {
  text-align: center;
  margin-bottom: 60px;
}

.address-list li:not(:last-child) {
  padding-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .address-list {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .address-list {
    text-align: start;
  }
}

.footer-address {
  font-family: inherit;
  font-style: normal;
  line-height: 24px;
  color: #ffffff;
}

.footer-link {
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .social-list {
    margin-bottom: 0px;
  }
}

.social-list li:not(:last-child) {
  margin-right: 10px;
}

.social-cards {
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding-top: 12px;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-cards:hover, .social-cards:focus {
  background-color: #2196f3;
}

.social-links {
  display: block;
  margin: auto;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.join {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .join {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
  }
}

.join-phrase {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .join-phrase {
    text-align: start;
  }
}

.join-check input {
  display: block;
  margin-bottom: 20px;
  padding-left: 16px;
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: #2f303a;
  color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.join-check input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 20px;
}

.join-check input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
}

.join-check input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
}

.join-check input::placeholder {
  font-size: 16px;
  line-height: 20px;
}

@media screen and (min-width: 1200px) {
  .join-check input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.join-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .join-input {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.button-join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-right: 29px;
  padding-bottom: 10px;
  padding-left: 29px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background-color: #2196f3;
}

.button-join span {
  margin-right: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.button-join svg {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
/*# sourceMappingURL=main.css.map */