$primary-color: #ffffff;
$background-additional-color: #f5f4fa;
$accent-background: #2f303a;
$primary-text-color: #212121;
$subsidiary-text-color: #757575;
$accent-color: #2196f3;
$text-footer-link: rgba(255, 255, 255, 0.6);
$hero-background: #c4c4c4;
$index-icon-background: #f5f4fa;
$social-link-color: #afb1b8;
  
$transition-time: 250ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);